<a href="https://colab.research.google.com/github/lmquann/DoAnPTDLPython2022/blob/main/DOAN_ThongKeSuyDien.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
df = pd.read_csv("/content/Diet_R.csv")
df

    Person gender  Age  Height  pre.weight  Diet  weight6weeks
0       25          41     171          60     2          60.0
1       26          32     174         103     2         103.0
2        1      0   22     159          58     1          54.2
3        2      0   46     192          60     1          54.0
4        3      0   55     170          64     1          63.3
..     ...    ...  ...     ...         ...   ...           ...
73      74      1   35     183          83     3          80.2
74      75      1   49     177          84     3          79.9
75      76      1   28     164          85     3          79.7
76      77      1   40     167          87     3          77.8
77      78      1   51     175          88     3          81.9

[78 rows x 7 columns]

Xóa các dữ liệu trống:

In [5]:
df.replace(" ", np.nan, inplace=True) #chuyển đổi các ô trống sang NaN
df.dropna() #Xóa các hàng có giá trị NaN
df

    Person gender  Age  Height  pre.weight  Diet  weight6weeks
2        1      0   22     159          58     1          54.2
3        2      0   46     192          60     1          54.0
4        3      0   55     170          64     1          63.3
5        4      0   33     171          64     1          61.1
6        5      0   50     170          65     1          62.2
..     ...    ...  ...     ...         ...   ...           ...
73      74      1   35     183          83     3          80.2
74      75      1   49     177          84     3          79.9
75      76      1   28     164          85     3          79.7
76      77      1   40     167          87     3          77.8
77      78      1   51     175          88     3          81.9

[76 rows x 7 columns]

# Các hàm phân tích ANOVA

**Kiểm tra phân phối chuẩn:**

Phát biểu giả thiết:

+ $H_0$ : Các mẫu tuân theo phân phối chuẩn.

+ $H_a$ : Các mẫu không tuân theo phân phối chuẩn.

In [6]:
def shapiro(data): 
    series = []
    for i in data.columns:
        series.append(data[i].dropna())
    for j in series:
        sts, p = stats.shapiro(j)
        if p > 0.05:
            print("không có bằng chứng để bác bỏ giả thiết H0")
        else:
            print("có bằng chứng để bác bỏ giả thiết H0, điều này ngụ ý chấp nhận giả thiết Ha")
    print()

**Kiểm tra tính đồng nhất phương sai:**

Phát biểu giả thuyết: 

+ $H_0$: Các mẫu có cùng phương sai. 
  
 
+ $H_a$: Có sự khác biệt về phương sai của các mẫu.

In [7]:
def levene(data): 
    series = []
    for i in data.columns:
        series.append(data[i].dropna())
    sts, p = stats.levene(*series)
    if p > 0.05:
        print("không có bằng chứng để bác bỏ giả thiết H0")
    else:
        print("có bằng chứng để bác bỏ giả thiết H0, điều này ngụ ý chấp nhận giả thiết Ha")

**Kiểm tra tính đồng nhất về giá trị trung bình:**

Phát biểu giả thuyết:

+ $H_0$: Các mẫu có giá trị trung bình bằng nhau. 

+ $H_a$: Có sự khác biệt về giá trị trung bình của các mẫu.

In [8]:
def anova(data):
    series = []
    for i in data.columns:
        series.append(data[i].dropna())
    sts, p = stats.f_oneway(*series)
    if p > 0.05:
        print("không có bằng chứng để bác bỏ giả thiết H0")
    else:
        print("có bằng chứng để bác bỏ giả thiết H0, điều này ngụ ý chấp nhận giả thiết Ha")